<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
       		<add id="Wds_ReviewNotify::parent" title="Offline Review" module="Wds_ReviewNotify" sortOrder="100"  action="reviewnotify/customreview" resource="Wds_ReviewNotify::customreview"/>
	</menu>
</config>
